.email-popup__background {
  background-color: rgba(0,0,0,.5);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  
  &.email-popup__visible {
    display: block;
  }
}

.email-popup {
  background-color: $color-dark-blue;
  border: 4px solid $color-pink;
  left: 50%;
  padding: 1rem 1rem 2.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  max-width: 620px;
  z-index: 4;

  & .field-group-primary__input {
    border-color: $color-pink;

    &:focus-within {
      border-color: $color-bronze;
    }
  }
}

.email-popup__close-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: $color-cream;
  cursor: pointer;
  font-size: $big-font-size;
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 0;
}

.email-popup--h2 {
  font-size: $display-font-size;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.email-popup--p {
  margin-bottom: 1.2rem;
}
