.title-container {
  background-color: $color-dark-blue;
  margin: -8.5rem auto 0;
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 760px;
  z-index: 1;

  &.title-container--skinny {
    max-width: 600px;
  }
}

.title-container__inner {
  border: 1px solid $color-pink;
  padding: 2.5rem 1.5rem;
}

.title-container__h1,
.title-container__h2 {
  text-align: center;
}

.title-container__h1,
.title-container__h2,
.title-container__p {
  color: $color-cream;

  &::selection {
      background-color: $color-cream;
      color: $color-dark-blue;
  }
}

.title-container__p {
  @include respond(phone-large) {
    text-align: center;
  }
}

.title-container__h2 {
  margin: 0 auto;
  max-width: 580px;
}

.title-container__hr {
  border: none;
  border-top: 1px solid $color-pink;
  margin: 2rem auto;
  width: 88%;
  max-width: 564px;
}

.title-container__button {
  margin: 2.5rem auto 1rem;
}

.title-container__br {
  @media only screen and (max-width: 690px) {
    display: none;
  }
  
  @media only screen and (max-width: 370px) {
    display: inline;
  }

  @media only screen and (max-width: 320px) {
    display: none;
  }
}
