html {
    font-family: $font-primary;
    font-size: 56.25%; // 1rem = 9, 9/16 = .5625

    @include respond(phone-large) {
        font-size: 62.5%; // 1rem = 10, 10/16 = .625
    }

    @include respond(tab-port) {
        font-size: 68.75%; // 1rem = 11, 11/16 = .6875
    }

    @include respond(tab-land) {
        font-size: 75%; // 1rem = 12, 12/16 = .75
    }

    @include respond(desktop-large) {
        font-size: 81.25%; // 1rem = 13, 13/16 = .8125
    }
}

p,
li {
    color: $color-midnight;
    font-size: $default-font-size;
    line-height: 1.45;

    & b {
      font-weight: 600;
    }

    & i {
      font-style: italic;
    }
}

p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-midnight;
    font-weight: 400;
	line-height: 1.2;
}

h1,
h2 {
    font-size: $giant-font-size;
}

h3 {
    font-size: $display-font-size;
}

h4,
h5,
h6 {
    font-size: $medium-font-size;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
li a {
    &,
    &:link,
    &:visited {
        color: $color-bronze;
        text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.heading-primary {
    font-family: $font-heading;
    font-size: $giant-font-size;
    font-weight: 600;
    letter-spacing: .02em;
	line-height: 1.08;
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.subheading-primary {
    font-family: $font-subheading;
    font-size: $display-font-size;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2.1rem;
    text-align: center;
}
