@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin centerContent {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*  Media Query Manager  */

@mixin respond($breakpoint) {
    @if $breakpoint == phone-large {
        @media only screen and (min-width: $screen-phone-small) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: $screen-phone-large) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (min-width: $screen-tab-port) { @content };
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: $screen-tab-land) { @content };
    }
    @if $breakpoint == desktop-large {
        @media only screen and (min-width: $screen-desktop) { @content };
    }
}
